/* Universal Styles */

html {
  font-size: 18px;
}

body {
  background-image: url("background_tiles.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  width: 270px;
}

form button.btn {
  background-color: rgb(229, 9, 20);
  color: white;
}

form button.btn:disabled {
  background-color: rgb(229, 9, 20);
  color: black;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: 500ms linear 0s 1 fadeIn;
}

/* Media Queries */

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

/* App Styles */

.App {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}