/* Animations */

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
  }

.animate-on-screen {
    animation: zoomIn 1500ms ease-in-out 0s 1 normal forwards;
}

.animate-off-screen {
    transform: translateX(2000px);
    transition: all 1000ms ease-out;
  }