.search-by {
  border: 2px solid rgb(63, 63, 63);
  background-color: transparent;
  color: rgb(124, 124, 124);
  white-space: nowrap;
  min-width: 180px;
}

.search-by:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

ul.list-group li.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  color: white;
}

.country-logo-inc {
  border: 2px solid rgb(63, 63, 63);
}

/* Media Queries */

@media only screen and (min-height: 701px), (min-width: 1351px) {
  .country-logo-inc {
      display: none;
  }
}

.App {
  align-items: center;
}

@media only screen and (max-height: 350px) {
  .App {
      align-items: start;
  }
}