.search-by {
  background-color: rgb(63, 63, 63);
  color: black;
}

.search-by:hover {
  cursor: pointer;
  color: white;
}

ul.list-group li.active {
  background-color: white;
  border-color: white;
  color: black;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: 1500ms linear 0s 1 fadeIn;
  }