.search-by {
  border-color: rgb(63, 63, 63);
  border-width: 2px;
  background-color: transparent;
  color: rgb(124, 124, 124);
  transition: all 100ms linear;
}

.search-by:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

ul.list-group li {
  align-self: center;
}

ul.list-group li.active {
  background-color: transparent;
  border-color: white;
  color: white;
  font-size: 1.1rem;
}

/* Animations */

@keyframes slideOffHold {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(2000px);
  }
}

.animate-off-screen-hold {
  animation: slideOffHold 10s ease-out 0s 1 normal;
}